altgraph==0.17
appdirs==1.4.3
asgiref==3.2.3
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
colorlog==4.1.0
ConfigArgParse==1.2.3
distlib==0.3.0
Django==3.0.2
django-email-users==1.1.0
djangorestframework==3.11.0
ExamplePackage==0.1.3
filelock==3.0.12
Flask==1.1.1
future==0.18.2
gevent==1.5a3
geventhttpclient-wheels==1.3.1.dev2
greenlet==0.4.15
idna==2.8
isort==4.3.21
iteration==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
locust==0.0
locustio==0.14.5
MarkupSafe==1.1.1
mccabe==0.6.1
mongo==0.2.0
more-itertools==8.2.0
msgpack==1.0.0
packaging==20.3
pathspec==0.8.0
pefile==2019.4.18
Pillow==7.2.0
pluggy==0.13.1
product==0.1.1.1
psutil==5.7.0
py==1.8.1
pycparser==2.20
PyInstaller==3.6
pylint==2.4.4
pymongo==3.10.1
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==5.4.1
pytz==2019.3
pywin32-ctypes==0.2.0
pyzmq==19.0.0
regex==2020.5.7
requests==2.22.0
selenium==3.141.0
six==1.14.0
SQLAlchemy==1.3.17
sqlparse==0.3.0
threaded==4.0.8
toml==0.10.0
tox==3.15.0
typed-ast==1.4.1
urllib3==1.25.8
views==0.3
virtualenv==20.0.20
wcwidth==0.1.9
Werkzeug==0.16.1
wrapt==1.11.2
